.Map {
    z-index: 0 !important;
}

.NavControls {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color: #5540c7 !important;
    border-radius: 100px;
    width: 34px;
}

.location {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color: white !important;
    margin-bottom: 5px !important;
    padding: 8px !important;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    /* margin-left: 10px !important; */
    z-index: 1;
}

.open-popup {
    max-width: 500px !important;
    min-width: 470px !important;
    height: auto !important;
    /* color: #5540c7; */
    /* background-color: white !important; */
    /* border: 2px solid #5540c7 !important; */
}

.arrow {
    position: absolute;
    font-size: 7;
    width: '3em';
    height: '3em';
}

.arrow::before {
    content: '';
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.progress {
    color: #5540c7 !important;
    position: absolute !important;
    /* float: right; */
    right: 100px !important;
    top: 3;
    z-index: 1 !important;
}

.open-popup-notAvailable {
    min-width: 400px !important;
    height: auto !important;
    background-color: transparent !important;
    border: 2px solid rgba(200, 200, 200, 100) !important;
}
.open-popup-forSale {
    min-width: 400px !important;
    height: auto !important;
    background-color: transparent !important;
    border: 2px solid rgba(0, 255, 0, 100) !important;
}

.open-popup-owned {
    min-width: 400px !important;
    height: auto !important;
    background-color: transparent !important;
    /* [236, 80, 23, 145]  ORANGE */
    /* [0, 255, 0, 30]  GREEN */
    /* [200,200,200,90] */
    border: 2px solid rgba(118, 167, 255, 255) !important;
}

.mapboxgl-popup-content {
    position: relative !important;
    /* background: #fff; */
    border-radius: 3px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 0 0 0 !important;
    pointer-events: auto;
}

.hidden-popup {
    /* visibility: hidden !important; */
    display: none !important;
    background-color: transparent !important;
}

.plus-minus {
    color: white !important;
}

.MapView {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: absolute;
    bottom: 75;
    left: 75;
    z-index: 1;
    border-radius: 1px !important;
    width: 120px;
    height: 110px;
    background-image: url('../../../assets/svg/map.png');
    /* background-image: image('../../../assets/svg/map.png'); */
}

.SatelliteView {
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    position: absolute;
    bottom: 75;
    left: 75;
    z-index: 1;
    border-radius: 1px !important;

    width: 120px;
    height: 110px;
    background-image: url('../../../assets/svg/satellite.png');
    /* background-image: image('../../../assets/svg/map.png'); */
}

.SatelliteView:hover {
    background-image: url('../../../assets/svg/satellite\ hover.png');
}

.MapView:hover {
    background-image: url('../../../assets/svg/map\ hover.png');
}

.NavControls:hover {
    background-color: #9098ff !important;
}

.location:hover {
    background-color: #e0e0e0 !important;
}

.plus-minus:hover {
    color: white !important;
}

.NavigationCtrl {
    border-radius: 100px !important;
    padding: 5px !important;
}

.mapboxgl-ctrl-icon {
    fill: white !important;
    border-radius: 100px !important;
}

.mapboxgl-ctrl-group button + button {
    color: #5540c7;
    border-top: 0px solid transparent !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
    color: #5540c7;
}