@import '../../styles/global';

.modal-listing-nft {
  font-family: $fontFamily;
  font-size: 18px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  color: black;

  .label {
    min-width: 125px;
    margin-right: 20px;
  }

  .sale-type {
    margin-right: 0;
    min-width: 80px;
  }

  .sale-input {
    //display: none;
  }

  .label-token-price {
    display: flex;
    flex-direction: column;
  }

  .form-check-input {
    position: unset;
    margin: 0;
  }

  .file-name {
    color: #888888;
    font-size: 15px;
    line-height: 15px;
  }

  .text-input {
    width: 81px;
    height: 31px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 15px;
    line-height: 15px;
  }

  .custom-tooltip {
    font-size: 12px;
    line-height: 12px;
    color: #888888;
  }

  .after-input-text {
    margin-left: 5px;
  }
}
