.menu-my-col {
	.button_mu {
		padding: 0;
		font-size: 18px;
		line-height: 18px;
		color: #000000;
		text-transform: capitalize;
	}

	button {
		padding: 0;
	}

	button:focus {
		outline: none;
	}
}
