<<<<<<< HEAD
:root {
  --dark-purple: #5540c7;
  --light-purple: #909af8;
  --light-red: #f08778;
  --light-blue: #5e9afc;
  --light-grey: #828282;
}

=======
>>>>>>> dev2
.hidden {
  display: none;
}

.connect-wallet__div {
  width: 100%;
<<<<<<< HEAD
  max-width: fit-content;
  min-height: 550px;
  /* border: 2px solid var(--light-purple); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
=======
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-height: 550px;
  /* border: 2px solid $lightPurple; */
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
>>>>>>> dev2
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
<<<<<<< HEAD
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-50%, -50%);
=======
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: auto;
>>>>>>> dev2
  text-align: center;
  background-color: white;
  z-index: 1000;
}

/* connect-wallet__closeBtn hover effect below */
.connect-wallet__closeBtn {
  position: absolute;
  top: 0%;
  right: 0%;
<<<<<<< HEAD
  transform: translate(0%, 0%);
  background: transparent;
  border-color: transparent;
  color: var(--dark-purple);
  font-size: 1.5rem;
  outline: none;
}
=======
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  background: transparent;
  border-color: transparent;
  color: #5540c7;
  font-size: 1.5rem;
  outline: none;
}

>>>>>>> dev2
.connect-wallet__closeBtn:focus {
  outline: transparent;
}

.connect-wallet__header {
  width: 100%;
  padding: 1rem 0.5rem;
  color: black;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

.connect-wallet__content {
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
>>>>>>> dev2
  align-items: flex-end;
  padding: 1rem;
  width: 100%;
  min-height: 424px;
}

.connect-wallet__container {
  margin: 0px 2em;
}

.connect-wallet__card {
  padding: 0px 1em;
<<<<<<< HEAD
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 25vw;
=======
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25vw;
  height: 40vh;
>>>>>>> dev2
  max-width: 225px;
  min-height: 359px;
  border-radius: 10px;
}

.connect-wallet__cardPurple {
<<<<<<< HEAD
  border: 2px solid var(--dark-purple);
}

.connect-wallet__cardRed {
  border: 2px solid var(--light-red);
=======
  border: 2px solid #5540c7;
}

.connect-wallet__cardRed {
  border: 2px solid #f08778;
>>>>>>> dev2
  background: #ffffff;
}

.connect-wallet__cardRecommended {
  text-align: center;
<<<<<<< HEAD
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42.5vh;
  width: 25vw;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25vw;
  height: 42.5vh;
>>>>>>> dev2
  max-width: 225px;
  min-height: 380px;
}

.connect-wallet__cardRecommendedRed {
<<<<<<< HEAD
  border-top: 1px solid var(--light-red);
  border-radius: 10px;
  background: var(--light-red);
=======
  border-top: 1px solid #f08778;
  border-radius: 10px;
  background: #f08778;
>>>>>>> dev2
}

.connect-wallet__cardRecommendedText {
  color: #ffffff;
}

.connect-wallet__cardImg {
<<<<<<< HEAD
  width: 50%;
}

.connect-wallet__cardTitle {
=======
  width: 40%;
}

.connect-wallet__cardTitle {
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
>>>>>>> dev2
  flex: 0.2;
  font-size: 2rem;
}

.connect-wallet__cardSubTitle {
<<<<<<< HEAD
=======
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
>>>>>>> dev2
  flex: 0.2;
  font-size: 1rem;
}

.connect-wallet__cardRedText {
<<<<<<< HEAD
  color: var(--light-red);
}

.connect-wallet__cardBlueText {
  color: var(--light-blue);
}

.connect-wallet__cardDescription {
  flex: 0.4;
  font-size: 0.75rem;
  color: var(--light-grey);
=======
  color: #f08778;
}

.connect-wallet__cardBlueText {
  color: #5e9afc;
}

.connect-wallet__cardDescription {
  -webkit-box-flex: 0.4;
  -ms-flex: 0.4;
  flex: 0.4;
  font-size: 0.75rem;
  color: #828282;
>>>>>>> dev2
}

.connect-wallet__cardBtns {
  margin: 1em 0px;
  padding: 1em 2em;
  border-radius: 25px;
  color: #ffffff;
<<<<<<< HEAD
  font-family: 'Gibson';
  border-color: transparent;
  outline: transparent;
  font-weight: 600;
}

.connect-wallet__redBtn {
  background: var(--light-red);
}

.connect-wallet__purpleBtn {
  background: var(--dark-purple);
=======
  font-family: 'Gibson' !important;
  font-style: normal;
  font-weight: 600;
  font-size: initial;
  border-color: transparent;
  outline: transparent;
  font-size: 13.33px;
}

.connect-wallet__redBtn {
  background: #f08778;
}

.connect-wallet__purpleBtn {
  background: #5540c7;
>>>>>>> dev2
}

.connect-wallet__redBtn:hover,
.connect-wallet__purpleBtn:hover,
.connect-wallet__closeBtn:hover {
  opacity: 0.75;
  cursor: pointer;
}

.connect-wallet__footer {
  padding: 1rem 0.5rem;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
>>>>>>> dev2
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .connect-wallet__div {
    width: 100%;
<<<<<<< HEAD
  }
  .connect-wallet__header {
    font-size: 10px;
  }
  .connect-wallet__container {
    margin: 0 1em;
=======
    max-height: 400px;
    max-width: 400px;
    border: 2px solid #909af8;
  }
  .connect-wallet__header {
    padding: initial;
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
  .connect-wallet__header > h2 {
    font-size: 24px;
  }
  .connect-wallet__container {
    margin: 0 0.25em;
  }
  .connect-wallet__card {
    padding: initial;
>>>>>>> dev2
  }
  .connect-wallet__cardTitle {
    font-size: 1.25rem;
  }
<<<<<<< HEAD
=======
  .connect-wallet__cardSubTitle {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  .connect-wallet__cardDescription {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1;
    flex: 0.5 1;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 0 0.25em;
  }
>>>>>>> dev2
  .connect-wallet__cardBtns {
    margin: 1em 0px;
    padding: 0px 1.5em;
    font-weight: 600;
    font-size: 0.5rem;
  }
}

<<<<<<< HEAD
=======
@media (max-width: 400px) {
  .connect-wallet__div {
    max-height: 420px;
    max-width: 340px;
  }
  .connect-wallet__header {
    padding: initial;
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
  .connect-wallet__header > h2 {
    font-size: 20px;
  }
  .connect-wallet__container {
    margin: 0 0.25em;
  }
  .connect-wallet__card {
    padding: initial;
  }
  .connect-wallet__cardRecommendedText {
    font-size: 0.7rem;
    line-height: 1.5em;
  }
  .connect-wallet__cardTitle {
    font-size: 1rem;
  }
  .connect-wallet__cardSubTitle {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    font-size: 0.75rem;
  }
  .connect-wallet__cardDescription {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1;
    flex: 0.5 1;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 0 0.25em;
    font-size: 0.7rem;
  }
  .connect-wallet__cardBtns {
    margin: 1em 0px;
    padding: 0px 1.5em;
    font-weight: 600;
    font-size: 0.3rem;
  }
}

@media (max-width: 321px) {
  .connect-wallet__div {
    max-width: 300px;
  }
  .connect-wallet__header {
    padding: initial;
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
  .connect-wallet__header > h2 {
    font-size: 18px;
  }
  .connect-wallet__container {
    margin: 0 0.25em;
  }
  .connect-wallet__card {
    padding: initial;
  }
  .connect-wallet__cardRecommendedText {
    font-size: 0.5rem;
    line-height: 2em;
  }
  .connect-wallet__cardTitle {
    font-size: 0.9rem;
    padding: 0 0.25em;
  }
  .connect-wallet__cardSubTitle {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    font-size: 0.7rem;
    padding: 0 0.25em;
  }
  .connect-wallet__cardDescription {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 1;
    flex: 0.5 1;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 0 0.25em;
    font-size: 0.7rem;
  }
  .connect-wallet__cardBtns {
    margin: 1em 0px;
    padding: 0px 1.5em;
    font-weight: 600;
    font-size: 0.3rem;
  }
}

>>>>>>> dev2
/* Can be implemented to shrink on screen height */
/* @media (max-height: 720px) {
  .connect-wallet__div {
      width: 100%;
      transform: translate(-50%, -50%) scale(0.75);
  }
  .connect-wallet__header {
      font-size: 10px;
  }
  .connect-wallet__container {
      margin: 0 1em;
  }
  .connect-wallet__cardTitle {
      font-size: 1.25rem;
  }
  .connect-wallet__cardBtns {
      margin: 1em 0px;
      padding: 0px 1.5em;
      font-weight: 600;
      font-size: 0.5rem;
  }
} */
<<<<<<< HEAD
=======
/*# sourceMappingURL=ConnectWalletModal.css.map */
>>>>>>> dev2
