@import '../../styles/global';

.modal-backdrop.show {
	opacity: .9;
}

.modal-listing-nft {
	display: flex;
	justify-content: center;
	font-family: $fontFamily;
	color: #000;

	.form-disabled {
		opacity: .3;
	}

	label {
		margin-bottom: 0;
	}

	.file-name {
		color: #888888;
		font-size: 15px;
		line-height: 15px;
	}

	.file-label {
		min-width: 150px;
	}

	.label {
		max-width: 150px;
		width: 100%;

		&::after {
			content: '*';
			color: red;
		}
	}

	.label-token-price {
		max-width: 150px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.form-check-input {
		position: unset;
		margin: 0;
	}

	.sale-block {
		display: flex;
		align-items: center;

		.sale-input {
			width: 15px;
			height: 15px;
		}

		.sale-type-label {
			margin-right: 0;
			min-width: 80px;
		}
	}

	.text-input {
		width: 81px;
		height: 31px;
		border: 1px solid #000000;
		border-radius: 10px;
		font-size: 15px;
		line-height: 15px;
	}

	.date {
		padding-left: 7px;
		padding-right: 0;
		width: 164px;
	}

	.custom-tooltip {
		font-size: 12px;
		line-height: 12px;
		color: #888888;
	}

	.after-input-text {
		margin-left: 8px;

		span {
			margin-left: 10px;
			font-size: 12px;
		}
	}

	.submit-button {
		display: block;
		margin: 56px auto 0;
		font-size: 19px;
		line-height: 19px;
		text-align: center;
		color: #FFFFFF;
		background: #5A45C7;
		border: 2px solid #5A45C7;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 18px 48px;
	}

	.submit-button-two {
		display: block;
		margin: 19px auto 0;
		font-size: 19px;
		line-height: 19px;
		text-align: center;
		color: #5A45C7;
		background: #FFFFFF;
		border: 2px solid #5A45C7;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 18px 48px;
	}
}

@media screen and (max-width: 600px) {
	.submit-button {
		width: 173px;
		height: 40.9px;
		font-size: 19px;
		line-height: 19px;
		padding: 0!important;
	}

	.submit-button-two {
		width: 173px;
		height: 40.9px;
		font-size: 19px;
		line-height: 19px;
		padding: 0!important;
	}

		.modal-listing-nft {
		padding-left: 0;
		padding-right: 0;

		.form-group {
			flex-wrap: wrap;
		}

		.text-input {
			width: 100%;
			margin-top: 10px;
		}

		.label-token-price {
			flex-direction: inherit;
			align-items: flex-end;

			.label {
				line-height: 15px;
			}
		}

		.after-input-text {
			margin-left: 0;
		}
	}
}
