* {
	font-family: Gibson, sans-serif;
}

.card-wrapper-collection {
	position: relative;
	height: 268px;
	width: 280px;
	border-radius: 5%;
	border: 0;
	overflow: hidden;

	.card-background-image-collection {
		height: 268px;
		width: 280px;
		border-radius: 5%;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		overflow: hidden;
	}

	.cardVideo {
		width: 100%!important;
		height: 268px!important;
		video {
			object-fit: cover;
			height: 100% !important;
			width: 100% !important;
		}
	}

	.card-img-overlay-collection {
		height: 100%;
		width: 100%;

		.card-user-title-collection {
			display: flex;
			align-items: center;
			justify-content: center;
			left: 0;
			height: 29px;
			width: 100%;
			font-weight: bold;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.068) 0%, rgba(0, 0, 0, 0.08) 99.99%, rgba(0, 0, 0, 0.075) 100%);
			backdrop-filter: blur(60px);
			border-radius: 5px 5px 10px 10px;
			position: absolute;
			bottom: 0;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 16px;
			color: #FFFFFF;
		}
	}
}
