*{
    margin: 0;
    padding: 0;
}
.creation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
.cover-container{
    min-width: 100%;
    max-height: 548.5px;
    overflow: hidden;
    box-shadow: -11px 12px 13px rgba(0, 0, 0, 0.25);
}
.cover-img {
    min-width: 100%;
    max-height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.user-img{
    width: 250px;
    height: 249px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 35px;
    right: 5px;
}
.user-container{
    width: 300px;
    height: 299px;
    border-radius: 50%;
    display: block;
    background: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-top: -150px;
}
.profile-info{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.user-name{
    font-family: 'gibson', sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-transform: lowercase;
    text-align: center;
    margin: 0;
}
.creator-name{
    font-family: 'gibson', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.location{
    font-family: 'gibson', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
.social-media{
    display: flex;
    justify-content: center;
    margin: 5px;
    gap: 10px;
}
.icon{
    width: 24px;
    height: 24px;
}