/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .Legend {
        left: 20px !important;
        bottom: 200px !important;
    }

    .MapTypeSelect {
        left: 20px !important;
        bottom: 40px !important;
    }

    .GeoLocation {
        right: 30px !important;
        bottom: 120px !important;
    }

    .NavButtons {
        right: 30px !important;
        bottom: 40px !important;
    }

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .Legend {
        left: 20px !important;
        bottom: 200px !important;
    }

    .MapTypeSelect {
        left: 20px !important;
        bottom: 40px !important;
    }

    .GeoLocation {
        right: 30px !important;
        bottom: 120px !important;
    }

    .NavButtons {
        right: 30px !important;
        bottom: 40px !important;
    }

}

@media not all and (min-width: 700px) {
    .ethPrice,
    .green-percent {
        display: none;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .Legend {
        left: 60px !important;
        bottom: 220px !important;
    }

    .MapTypeSelect {
        left: 60px !important;
        bottom: 90px !important;
    }

    .GeoLocation {
        right: 60px !important;
        bottom: 170px !important;
    }

    .NavButtons {
        right: 60px !important;
        bottom: 90px !important;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .Legend {
        left: 60px !important;
        bottom: 230px !important;
    }

    .MapTypeSelect {
        left: 60px !important;
        bottom: 100px !important;
    }

    .GeoLocation {
        right: 80px !important;
        bottom: 180px !important;
    }

    .NavButtons {
        right: 80px !important;
        bottom: 100px !important;
    }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .Legend {
        left: 60px !important;
        bottom: 230px !important;
    }

    .MapTypeSelect {
        left: 60px !important;
        bottom: 100px !important;
    }

    .GeoLocation {
        right: 80px !important;
        bottom: 180px !important;
    }

    .NavButtons {
        right: 80px !important;
        bottom: 100px !important;
    }

}



/* ----------- Mobile & Tablet responsive desing ----------- */

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    
    .Legend {
        left: 20px !important;
        bottom: 200px !important;
    }

    .MapTypeSelect {
        left: 20px !important;
        bottom: 40px !important;
    }

    .GeoLocation {
        right: 30px !important;
        bottom: 120px !important;
    }

    .NavButtons {
        right: 30px !important;
        bottom: 40px !important;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .Legend {
        left: 20px !important;
        bottom: 170px !important;
    }

    .MapTypeSelect {
        left: 20px !important;
        bottom: 40px !important;
    }

    .GeoLocation {
        right: 30px !important;
        bottom: 120px !important;
    }

    .NavButtons {
        right: 30px !important;
        bottom: 40px !important;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .Legend {
        left: 20px !important;
        bottom: 200px !important;
    }

    .MapTypeSelect {
        left: 20px !important;
        bottom: 80px !important;
    }

    .GeoLocation {
        right: 60px !important;
        bottom: 160px !important;
    }

    .NavButtons {
        right: 60px !important;
        bottom: 80px !important;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .Legend {
        left: 20px !important;
        bottom: 190px !important;
    }

    .MapTypeSelect {
        left: 20px !important;
        bottom: 60px !important;
    }

    .GeoLocation {
        right: 40px !important;
        bottom: 140px !important;
    }

    .NavButtons {
        right: 40px !important;
        bottom: 60px !important;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .Legend {
        left: 40px !important;
        bottom: 220px !important;
    }

    .MapTypeSelect {
        left: 40px !important;
        bottom: 90px !important;
    }

    .GeoLocation {
        right: 70px !important;
        bottom: 170px !important;
    }

    .NavButtons {
        right: 70px !important;
        bottom: 90px !important;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .Legend {
        left: 40px !important;
        bottom: 220px !important;
    }

    .MapTypeSelect {
        left: 40px !important;
        bottom: 90px !important;
    }

    .GeoLocation {
        right: 70px !important;
        bottom: 170px !important;
    }

    .NavButtons {
        right: 70px !important;
        bottom: 90px !important;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    .Legend {
        left: 40px !important;
        bottom: 220px !important;
    }

    .MapTypeSelect {
        left: 40px !important;
        bottom: 90px !important;
    }

    .GeoLocation {
        right: 70px !important;
        bottom: 170px !important;
    }

    .NavButtons {
        right: 70px !important;
        bottom: 90px !important;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .Legend {
        left: 60px !important;
        bottom: 280px !important;
    }

    .MapTypeSelect {
        left: 60px !important;
        bottom: 140px !important;
    }

    .GeoLocation {
        right: 100px !important;
        bottom: 220px !important;
    }

    .NavButtons {
        right: 100px !important;
        bottom: 140px !important;
    }
}
