.creation-wrapper {
	max-width: 1200px;
	margin: 0 auto 100px;

	.creation {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	.creation > div {
		margin: 20px;
	}
}

