@import '../../styles/global';

.button_mint {
  color: white;
  background-color: #5540C7;
  font-size: 18px;
  width: 120px;
  border-radius: 10px;
  font-family: $fontFamily;
}

.card-body-wrapper {
  font-family: $fontFamily;
  height: 24px;
  background: linear-gradient(0, rgba(255, 255, 255, 0.068) 0%, rgba(0, 0, 0, 0.075) 100%);
  width: inherit;

  //.second-section {
  //  margin-top: 10px;
  //}
}

.card-counter {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 25px;
  line-height: 25px;
  color: #5540C7;
  font-family: $fontFamily;
  font-weight: 600;
}

.card-body-time {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  color: #000000;
}

.red {
  color: #FF0000;
}
