.modal-xl {

	.modal-content {
		max-width: 815px;
		height: 310px;
		border-radius: 8px;

		.modal-header {
			display: block;

			.close {
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}

		.modal-success-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-height: 300px;
			height: 100%;

			.modal-success-img {
				width: 80px;
				height: 80px;
				margin: 0 auto 20px;
			}

			.imgPurchase {
				margin-bottom: 15px;
			}

			.modal-success-head {
				text-align: center;
				font-size: 21px;
				line-height: 21px;
				font-weight: 450;
				color: #000;
			}

			.modal-success-desc {
				margin-top: 20px!important;
				text-align: center;
				color: #888888;
				font-size: 15px;
				line-height: 15px;
			}

			.descPurchase {
				margin-top: 7px!important;
			}

			.modal-success-btn {
				margin-top: 34px;
			}

			.btnPurchase {
				margin-top: 5px;
			}

			.modal-success-social {
				margin: 8px auto 0;
				height: 32px;
			}
		}
	}
}