.button-container {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  margin-left: -3.75rem;
}

.bbtn {
  position: relative;
  opacity: 1;
  margin: 0 10px;
  border-radius: 2em;
  font-family: Gibson, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #5540c7 !important;
  padding: 0.375rem 1.5rem;
  border: 2px solid #5540c7;
  background-color: white;
  color: black;
  text-transform: uppercase;
}
.bbtn:hover {
  background-color: #5540c7;
  border-color: white;
  color: white !important;
  cursor: pointer;
}

.bbtn:focus {
  outline: 0px;
  border: 0;
}

.row-all-art {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4rem;
  margin-right: -4rem;
}

#buy-bid-btn {
  border-radius: 2em;
  font-family: 'gibson', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  border: 2px solid #5540c7;
  text-transform: uppercase;
  background-color: #5540c7;
  color: white;
  width: fit-content !important;
}

#root > div > div > div > div.row > div > div {
  height: 16rem !important;
  width: 15rem;
}

.card-img-top-all-art {
  height: 60%;
}

#root > div > div > div > div.row {
  margin-left: -70px;
  margin-right: -60px;
}

#root > div > div > div > div.row > div {
  max-width: 20%;
}

#root > div > div > div > div.row > div > div > div > div.col-sm-12 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
}

#root
  > div
  > div
  > div
  > div.row
  > div
  > div
  > div
  > div.ctext
  > p.visible.card-text {
  color: #5540c7 !important;
}
