ul{
  list-style-type: none;
}
.footer {
  display: flex;
  flex-direction: row;
  align-content: center !important;
  color: #5540C6;
  background-color: #fff !important;
  padding: 60px 0 !important;
  border-top: none;
}

.footer-container {
  padding: 0 30px;
  text-align: center;
  .show-content {
    display: block;
  }
  h6.header {
    font-size: 17px;
  }
  .email {
    text-decoration: none;
    color: #5540C6;
  }

  .list {
    text-align: left;
    margin: 0 auto;
    li {
      padding-top: 5px;
    }
  }

  .link {
    text-decoration: none;
    color: #5540C6;
    font-size: 17px;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    li {
      margin-right: 15px;
    }
  }
  .copyright {
    font-size: 17px;
  }
  .terms {
    font-size: 15px;
    color: #5540C6;
    text-decoration: none;
  }
}


//768 and down
@media screen and (max-width: 768px) {
  .footer-container {
    padding: 0 30px;
    text-align: center;
    .footer-nav {
      margin-bottom: 40px;
    }
    .link, .copyright {
      font-size: 15px;
    }
    .copyright {
      padding-top: 5px;
    }
  }
}
@media screen and (max-width: 440px) {
  .footer-container .social-media {
    justify-content: center;
    margin-top: -50px;
  }
  .footer-container .copyright {
    text-align: center;
    margin-top: -50px;
  }
  .footer {
    padding-bottom: 0;
    h6.header {
      font-size: 14px;
    }
    ul.list {
      margin: 0;
    }
  }
  footer.footer .footer-container .centered-small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 18px 0;
  }

}
@media screen and (max-width: 414px) {
  footer.footer {
    padding-bottom: 0;
    padding-top: 30px;
    .footer-container {
      .centered-small {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 18px 0;
      }
      h6.header {
        font-size: 14px;
      }
      ul.list {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {

  footer.footer {
    .footer-container {
      .centered-small {
        padding: 10px 10px 0;
      }
      h6.header {
        font-size: 11px;
      }
      .link {
        font-size: 13px;
        img {
          width: 20px;
        }
      }
      .social-media {
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 320px) {

  footer.footer {
    .footer-container {
      .social-media {
        margin-left: 5px;
        li {
          margin: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 280px) {

  footer.footer {
    .footer-container {
      .social-media {
        margin-left: 5px;
        li {
          margin: 3px;
        }
      }
    }
  }
}
