.wallet-button {
  color: #5540c7 !important;
  font-family: GibsonSemiBold;
  font-size: 22px !important;
  line-height: 22px !important;
  text-transform: uppercase;
  padding: 0!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  font-weight: 600!important;
  height: 54px!important;
  margin: 0 30px!important;
  max-width: 104px;
  width: 100%;
}

.not-connected {
  color: black !important;
  font-family: GibsonSemiBold;
  font-size: 22px !important;
  line-height: 22px !important;
  text-transform: uppercase;
  padding: 0!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  font-weight: 600!important;
  height: 54px!important;
  margin: 0 30px!important;
}

.Signinbutton-header{
  color: #5540c7 !important;
  height: 40px !important;
   padding: 0 35px !important; 
  font-family: 'Gibson' !important;
  font-size: 17px !important;
  width: 10rem ;
  /* text-transform: 'capitalize' !important; */

}
.Signinbutton-header:hover, .not-connected:hover, .wallet-button:hover{
  cursor: pointer;
  border: none;
  outline: none;
}
.LoginButton-header {
  background: #5540c7 !important;
  border-radius: 50px !important;
  border: 2px solid #5540c7 !important;
  color: #ffffff !important;
  height: 40px !important;
  padding: 0 35px !important;
  font-family: 'Gibson' !important;
  width: 10rem;
  /* text-transform: 'capitalize' !important; */
}

.LoginButton-header:hover {
  background: #ffffff !important;
  color: #5540c7 !important;
}
a.nav-link,
a.nav-link.active {
  text-decoration: none;
  text-transform: uppercase;
  color: black !important;
  width: max-content !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 0 !important;
}

#profile {
  border: 2px solid #5540c7;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-collapse {
  flex-grow: 0;
}

#green-dot {
  display: flex;
}

.fa-search:before {
  padding-left: 0.5rem;
}

/* #root
  > div
  > div
  > nav
  > div.collapse.navbar-collapse
  > ul
  > li:nth-child(4)
  > a {
  padding: 0;
  margin: 0;
} */

#root
  > div
  > div
  > nav
  > div.collapse.navbar-collapse
  > ul
  > li:nth-child(3)
  > a {
  margin: 0;
  margin-left: 1rem;
}

.navbarMain {
  box-sizing: border-box;
  padding: 18px 43px;
  height: 95px;
  background-color: #d5d7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .imgLogo {
      width: 60px;
      height: 60px;
  }
  .navItemHeader {
    font-family: GibsonSemiBold;
    font-size: 22px;
    line-height: 22px;
    padding: 0;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 30px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}