.wallet-button {
  color: #5540c7 !important;
  font-family: GibsonSemiBold;
  font-size: 22px !important;
  line-height: 22px !important;
  text-transform: uppercase;
  padding: 0!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  font-weight: 600!important;
  height: 54px!important;
  margin: 0 30px!important;
  max-width: 104px;
  width: 100%;
}

.not-connected {
  color: black !important;
  font-family: GibsonSemiBold;
  font-size: 22px !important;
  line-height: 22px !important;
  text-transform: uppercase;
  padding: 0!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  font-weight: 600!important;
  height: 54px!important;
  margin: 0 30px!important;
}

.Signinbutton-header{
  color: #5540c7 !important;
  font-family: GibsonSemiBold;
  font-size: 22px !important;
  line-height: 22px !important;
  text-transform: uppercase;
  padding: 0!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  font-weight: 600!important;
  height: 54px!important;
  margin: 0 30px!important;
  max-width: 104px;
  text-align: center!important;
  width: 100%;
  /* text-transform: 'capitalize' !important; */

}
.Signinbutton-header:hover, .not-connected:hover, .wallet-button:hover{
  cursor: pointer;
  border: none;
  outline: none;
}
.LoginButton-header {
  background: #5540c7 !important;
  border-radius: 50px !important;
  border: 2px solid #5540c7 !important;
  color: #ffffff !important;
  height: 40px !important;
  padding: 0 35px !important;
  font-family: 'Gibson' !important;
  width: 10rem;
  /* text-transform: 'capitalize' !important; */
}

.LoginButton-header:hover {
  background: #ffffff !important;
  color: #5540c7 !important;
}
a.nav-link,
a.nav-link.active {
  text-decoration: none;
  text-transform: uppercase;
  color: black !important;
  width: max-content !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 0 !important;
}

#profile {
  border: 2px solid #5540c7;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-collapse {
  flex-grow: 0;
}

#green-dot {
  display: flex;
}

.fa-search:before {
  padding-left: 0.5rem;
}

/* #root
  > div
  > div
  > nav
  > div.collapse.navbar-collapse
  > ul
  > li:nth-child(4)
  > a {
  padding: 0;
  margin: 0;
} */

#root
  > div
  > div
  > nav
  > div.collapse.navbar-collapse
  > ul
  > li:nth-child(3)
  > a {
  margin: 0;
  margin-left: 1rem;
}

.navbarMain {
  box-sizing: border-box;
  padding: 18px 43px;
  height: 95px;
  background-color: #d5d7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .imgLogo {
      width: 60px;
      height: 60px;
  }
  .navItemHeader {
    font-family: GibsonSemiBold;
    font-size: 22px;
    line-height: 22px;
    padding: 0;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 30px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.change-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  min-width: 100%;
  max-height: 10px;
  padding: 0 0 20px;

  .change-header-text {
    cursor: pointer;
    width: 8%;
    max-height: 10px;
    transform: scale(.7, .7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .change-header-img {
    width: 20px;
    height: 20px;
  }

  .change-header-text-user {
    width: 80%;
    max-height: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
  }
}

.change-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #F2F2F2;
  min-width: 100%;
  white-space: pre-line;
  max-height: 50px;
  padding: 0 10px;

  .change-body-user {
    color: #000000;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    min-height: 12px;
  }

  .change-body-name {
    color: #000000;
    width: 100%;
    font-size: 14px;
    min-height: 10px;
  }
}

.change-block-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  white-space: pre-line;
  padding: 0 10px;

  .change-block-main-user {
    color: #888888;
    font-size: 11px;
    min-height: 10px;
    margin-bottom: 10px;
  }

  .change-block-main-contain {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-change-username {
    padding: 0 10px!important;
  }

  .change-block-main-button-one {
    width: 100px;
    height: 26px;
    margin: 15px auto 0;
    border-radius: 15px;
    font-size: 11px;
    background-color: #5540C7;
    color: #FFFFFF;
    font-weight: 600;
    :hover {
      color: #000;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbarMain {
    padding: 18px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .imgLogo {
      width: 50px;
      height: 50px;
    }
    .navbarBrand {
      padding: 0;
      margin: 0;
    }
    .navbar-collapse {
      position: fixed;
      background-color: #d5d7fa;
      height: 100vh;
      z-index: 10;
      width: 100vw;
      top: 95px;
      left: 0;
    }
  }
}