.hidden {
  overflow-x: hidden;
}
/* 
.Home {
  display: flex;
  justify-content: space-around;
} */
.upperView {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.col1 {
  margin-right: 5rem;
  display: flex;
  margin-top: 4rem;
}
.col2 {
  margin-left: 1rem;
  /* display: flex; */
}
.middleView {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
} 

.img1 {
  position: relative;
  width: 421px;
  height: 331px;
  right: 130px;
  padding: 20px;
  top: 400px;
}
.img2 {
  position: relative;
  width: 500px;
  height: 438px;
  left: 5%;
  margin-top: 2px;
}

a {
  color: #5540c7;
  text-decoration: underline;
}

#header {
  margin-top: 5rem;
  font-family: 'gibson', sans-serif;
  font-weight: 600;
  text-align: left;
  width: 30rem;
}

.text1 {
  font-family: 'gibson', sans-serif;
  font-weight: bold;
  color: #5540c6;
  font-size: 1.25rem;
  margin: 2px;
  margin-top: 2rem;
  width: 100%;
  text-align: left;
}
.start-btn {
  /* position: absolute; */
  /* opacity: 0.9; */
  margin: 0 10px;
  border-radius: 2em;
  font-family: 'gibson', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  padding: 0.375rem 1.5rem;
  border: 2px solid #5540c7;
  text-transform: uppercase;
  background-color: #5540c6;
  color: white;
  bottom: 15%;
  right: 20%;
  display: flex;
  margin-left: -0.1rem;
}

.start-btn:hover {
  background-color: #909afb;
  border-color: white;
  cursor: pointer;
}

.start-btn:focus {
  outline: 0px;
  border: 0;
}

#start-btn {
  margin-top: 10%;
}

.rowImages {
  display: flex;
  justify-content: space-around;
  margin: 0rem 2.5rem 0rem 2.5rem;
}

div.imageCards {
  height: 270px !important;
  width: 250px;
  border-radius: 1rem;
  margin-right: 1rem;
}
.text2 {
  font-family: Gibson;
  font-size: 17px;
  margin: 1px;
  width: 100%;
  display: flex;
  padding: 7px;
  bottom: 2px;
  justify-content: space-between;
}

.ctext {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 1.75rem;
}
.ellispse {
  position: relative;
  width: 750px;
  height: 415px;
  right: 50%;
  top: 1px;
}
.card-image{
  height: 12rem;
}
.card-imgTitle{
  right: 0 !important;
  color: white;
  font-weight: 600;
  font-family: 'Gibson';
  text-align: center;
  position: relative;
  top: 44%;
  opacity: 0.95;
  backdrop-filter: blur(60px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.068) 0%, rgba(0, 0, 0, 0.075) 100%);
}
.imgOverlay{
  right: 0 !important;
}
/* Image Classes */
/* #2 */
.image10 {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
}



/* #root > div > div > div > div > div:nth-child(7) > div {
  height: fit-content !important;
}

#root > div > div > div > div > div:nth-child(9) > div {
  height: fit-content !important;
} */

/* #root > div > div > div > div > div:nth-child(11) > div {
  height: fit-content !important;
} */

.card-body {
  padding: 0.5rem;
}

img.rounded-circle {
  margin-right: 0.5rem !important;
  margin-left: 0.2rem;
}

/* first row subtitle  */
#root > div > div > div > div > div > div > div > div:nth-child(1) {
  margin-top: 0.5rem;
  align-items: baseline;
}

.buy-bid-btn {
  border-radius: 2em;
  font-family: 'gibson', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid #5540c6;
  text-transform: uppercase;
  background-color: #5540c6;
  color: white;
  padding: 0.2rem 0.5rem;
}

.buy-bid-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

/* .time-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.topimage{
  width: 20rem;
  height: 20rem;
  border-radius: 2%;
}

.sectionText1{
  margin-left: 2rem;
}
.sectionText2{
  margin-right: 0rem;
  /* padding-left: 2rem; */
}
.bottomView{
  background-color: white;
  padding-bottom: 5rem;
}
.gridRow1{
  margin-top: 0.5rem !important;
  margin-left: 0rem !important;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.gridCol1{
  margin-top: 0rem !important;
  display: flex;
  justify-content: space-evenly;
}
.gridRow2{
  margin-top: 1.8rem !important;
  margin-left: 0rem !important;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.gridRow3{
  margin-top: 1.8rem !important;
  margin-left: 0rem !important;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.sw-overlay{
  backdrop-filter: blur(60px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.068) 0%, rgba(0, 0, 0, 0.075) 100%);
  margin-left: -6rem;
  margin-top: 0rem;
  border-radius: 0rem 0rem 1rem 1rem !important; 
  padding: 0rem 0.5rem 0.5rem 0rem !important;
}
.userimg{
  border-radius: 50%;
}