.hidden{
    overflow-x: hidden;
}
.Home{
    display: flex;
    justify-content: space-around;
}
.upperView{
    display: flex;
    justify-content: space-between;
}

.col1{
    width:60%;
    float: left;
    display: flex;
}
.col2{
    width: 100%;
}

.text{
    position: absolute;
    margin-left: 2px;
    right: 6%;
    margin-top: 30%;
}
.text1{
    font-family: Gibson;
    font-size: 17px;
    width: 100%;

} 
.start-btn {
    position: absolute;
    opacity: 0.9;
    margin: 0 10px;
    border-radius: 2em;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    padding: 0.375rem 1.5rem;
    border: 2px solid #5540c7;
    text-transform: uppercase;
    background-color: #5540c7;
    color: white;
    right: 20%;
}

.start-btn:hover {
    background-color: #909afb;
    border-color: white;
    cursor: pointer;
}

.start-btn:focus {
    outline: 0px;
    border: 0;
}

.rowImages{
        display: flex;
        flex-wrap:nowrap;
        overflow-x: auto;
} 
        .card {
          flex: 0 0 auto;
        }
      
    /* display: flex;
    justify-content: space-around;
    overflow-x: auto; */

.imageCards{
    min-height: 280px;
    min-width:  25%;
}
/* .text2{
    font-family:Gibson;
    font-size: 17px;
    margin: 1px;
    width: 100%;
    display: flex;
    padding: 7px;
    bottom:2px;
    justify-content: space-between;
} */


.ctext{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.ellispse
{
position: relative;
width: 750px;
height: 415px;
right: 50%;
top: 1px;
}

  /* Image Classes */


.img1{
    position: relative;
    width: 421px;
    height: 331px;
    right:  130px;
    padding: 20px;
    top:400px;
}

.img2{
    position: absolute;
    width: 500px;
    height: 430px;
    margin-top: 2px;
    margin-left: 2px;
    right: 2%;
    }
    
.image8{
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: 9%;
    margin-top: 14%;
}

.image9{
    position: absolute;
    width: 84px;
    height: 70px;
    margin-left: 13.5%;
    margin-top: 5%;
}

.image10{
    position: absolute;
    width: 100px;
    height: 80px;
    margin-left: 22%;
    margin-top: 1%;
}
.image11{
    position: absolute;
    width: 76px;
    height: 50px;
    margin-left: 35%;
    margin-top: 1%;
}
.image12{
position: absolute;
width: 80px;
height: 80px;
margin-left: 30%;
margin-top: 12%;
}

.image13{
    position: absolute;
    width: 149px;
    height: 127px;
    margin-left: 21%;
    margin-top: 18%;
}

.image14{
position: absolute;
width: 108px;
height: 89px;
margin-left: 19%;
margin-top: 8.2%;
}

.image15{
position: absolute;
width: 82px;
height: 70px;
margin-left: 32%;
margin-top: 5%;
}