.hidden{
    overflow: hidden;
}
.Home{
    display: flex;
    justify-content: space-around;
}

.col1{
    width:60%;
    float: left;
    display: flex;
}
.col2{
    width: 40%;
    display: flex;
}

.img1{
position: relative;;
width: 421px;
height: 331px;
right:  130px;
top: 300px;
}
.img2{
position: relative;
width: 500px;
height: 438px;
left: 5%;
margin-top: 2px;
}

.text1{
    font-family: Gibson;
    font-size: 17px;
    margin: 1px;
    width: 100%;
    position: relative;
    bottom: -2%;
    left:  12%;

}
.start-btn {
    position: absolute;
    opacity: 0.9;
    margin: 0 10px;
    border-radius: 2em;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    padding: 0.375rem 1.5rem;
    border: 2px solid #5540c7;
    text-transform: uppercase;
    background-color: #5540c7;
    color: white;
    bottom:15%;
    right: 20%;
}

.start-btn:hover {
    background-color: #909afb;
    border-color: white;
    cursor: pointer;
}

.start-btn:focus {
    outline: 0px;
    border: 0;
}

.rowImages{
    display: flex;
    justify-content: space-around;
}
.imageCards{
    height: 300px;
    width: 245px;
}
.text2{
    font-family:Gibson;
    font-size: 17px;
    margin: 1px;
    width: 100%;
    display: flex;
    padding: 7px;
    bottom:2px;
    justify-content: space-between;
}