.hidden {
  overflow-x: hidden;
}
h1{
  font-size: 3.48rem !important;
  font-family: canada-type-gibson, sans-serif !important;
  font-style: normal !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
}
.hidden {
  overflow-x: hidden;
}
/*
.Home {
  display: flex;
  justify-content: space-around;
} */
/* Top section*/
.upperView {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 76px 77px;
}
.topimage{
  width: 20rem;
  height: 25rem;
  border-radius: 2%;
}

.sectionText1 {
  flex-grow: 3;
}

.col1 {
  flex-grow: 1;
}

/* Middle Section */
.middleView {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 76px 50px;
}
.col2 {
  flex-grow: 2;
  max-width: 500px;
}

.col3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.gridRow1{
  margin-top: 0.5rem !important;
  margin-left: 0rem !important;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.gridCol1{
  margin-top: 0rem !important;
  display: flex;
  max-width: 30%;
  /* justify-content: space-between;
  margin-right: 2rem;*/
  justify-content: space-evenly;
}
.gridRow2{
  margin-top: 1.8rem !important;
  margin-left: 0rem !important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.gridRow3{
  margin-top: 1.8rem !important;
  margin-left: 0rem !important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.sectionText2{


}
.image10 {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  border-bottom-left-radius:1.5rem ;
  border-bottom-right-radius: 1.5rem;
}
/* .img1 {
  position: relative;
  width: 421px;
  height: 331px;
  right: 130px;
  padding: 20px;
  top: 400px;
}
.img2 {
  position: relative;
  width: 500px;
  height: 438px;
  left: 5%;
  margin-top: 2px;
} */

a {
  color: #5540c6;
  text-decoration: underline;
}


#header {
  font-family: GibsonSemiBold!important;
  text-align: left;
  width: 509px;
  font-size: 60px!important;
  line-height: 60px;
  text-indent: 3px;
  margin-bottom: 39px;
}
#header2 {
  font-family: GibsonSemiBold!important;
  font-size: 60px!important;
  line-height: 60px;
  text-indent: 3px;
  text-transform: none!important;
  text-align: left;
  margin-bottom: 39px;
}

.text1 {
  font-family: GibsonSemiBold!important;
  color: #5540c6;
  font-size: 30px;
  width: 100%;
  text-align: left;
  margin-bottom: 39px;
}
.text2{
  font-family: 'gibson', sans-serif;
  font-weight: bold;
  color: #888888;
  font-size: 1.8rem;
  margin-top: 2rem;
  width: 100%;
  text-align: left;
}

.textFeaturedNft {
  font-family: GibsonSemiBold!important;
  color: #888888;
  font-size: 30px!important;
  line-height: 30px;
  text-indent: 3px;
  margin-bottom: 42px;
  max-width: 457px;
  width: 100%;
  text-align: left;
}
.start-btn {
  border-radius: 10px;
  font-family: GibsonSemiBold!important;
  font-size: 20px;
  font-style: normal;
  padding: 6px 40px;
  border: 2px solid #5540c7;
  text-transform: uppercase;
  background-color: #5540c6;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.start-btn:hover {
  background-color: #909afb;
  border-color: white;
  cursor: pointer;
}

.start-btn:focus {
  outline: 0px;
  border: 0;
}

#start-btn {}

.ellispse {
  position: relative;
  width: 750px;
  height: 415px;
  right: 50%;
  top: 1px;
}

/* #root > div > div > div > div > div:nth-child(7) > div {
  height: fit-content !important;
}

#root > div > div > div > div > div:nth-child(9) > div {
  height: fit-content !important;
} */

/* #root > div > div > div > div > div:nth-child(11) > div {
  height: fit-content !important;
} */
/* Image Card */
.rowImages {
  display: flex;
  justify-content: space-around;
  margin: 0rem 2.5rem 0rem 2.5rem;
  /* border: 1px solid black; */
  /* width: 100%; */
}

div.imageCards {
  height: 270px !important;
  width: 220px;
  border-radius: 1rem;
  margin-right: 1rem;
  opacity: 0.95;
}
/* .text2 {
  font-family: Gibson;
  font-size: 17px;
  margin: 1px;
  width: 100%;
  display: flex;
  padding: 7px;
  bottom: 2px;
  justify-content: space-between;
} */

.ctext {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 1.75rem;
}
.card-image{
  height: 12rem;
}
.card-imgTitle{
  right: 0 !important;
  color: white;
  font-weight: 600;
  font-family: 'Gibson';
  text-align: center;
  position: relative;
  top: 42%;
  opacity: 0.95;
  backdrop-filter: blur(7px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.068) 0%, rgba(0, 0, 0, 0.075) 100%);
}
.imgOverlay{
  right: 0 !important;
}
.Cardimg{
  border-radius: 1rem 1rem 0rem 0rem;
  height: 65%;
  width: 100%;
}
.card-body {
  padding: 0;
  border-radius: 0 0 10px 10px;
}

img.rounded-circle {
  margin-right: 0.5rem !important;
  margin-left: 0.2rem;
}

.buy-bid-btn {
  border-radius: 2em;
  font-family: 'gibson', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid #5540c6;
  text-transform: uppercase;
  background-color: #5540c6;
  color: white;
  padding: 0.2rem 0.5rem;
}

.buy-bid-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.sw-overlay{
  backdrop-filter: blur(60px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.068) 0%, rgba(0, 0, 0, 0.075) 100%);
  margin-left: -8rem;
  margin-top: -1.5rem;
  border-radius: 0rem 0rem 0.7rem 0.7rem !important;
  padding: 0rem 0rem 0rem 0rem !important;
  height: 40px;
  width: 45px;
  line-height: 0px !important;
}
.userimg{
  border-radius: 50%;
  margin-left: 0rem;
  margin-top: 0.2rem;
  height: 20px;
  width: 20px;
}
 .time-div {
  font-family: Gibson;
  font-size: 12px;
  color: #888888;
  margin-left: 0.35rem;
  margin-bottom: 1.5rem;
  margin-top:0.3rem;
}


.bottomView{
  background-color: white;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 15rem;
}

.cardImg-body{
  display : flex;
  justify-content: center;
}
.createdby{
  font-family: Gibson;
  font-size: 13px;
  color: #888888;
  font-weight: normal;
  margin-top: 1px;
}
.cardsubtitleName{
  font-family: Gibson;
  font-size: 13px;
  color: #5540c7;
  font-weight: 600;
  margin-top: 1px;
}
.price{
  font-family: Gibson;
  font-size: 13px;
  color: #5540c7;
  margin-top:0rem;
}
.USD-price{
  font-family: Gibson;
  font-size: 10px;
  color: #5540c7;
  margin-bottom: 1.5rem !important;
}

.textFeature {
  padding: 0;
}

.home-slider {
  height: 414px;
  overflow: hidden;
  width: 414px;
}

.home-slider-multiple {
  overflow: hidden;
  width: 20rem;
}

.home-slider figure, .home-slider-multiple figure {
  position: relative;
  width: 500%;
  animation: 20s slider infinite;
}

.home-slider-multiple-1 figure {
  animation-delay: .2s;
}

.home-slider-multiple-2 figure {
  animation-delay: .2s;
}

.home-slider-multiple-3 figure {
  animation-delay: .2s;
}

.home-slider-multiple-4 figure {
  animation-delay: .2s;
}

.home-slider-multiple-5 figure {
  animation-delay: .2s;
}

.home-slider-multiple-6 figure {
  animation-delay: .2s;
}

.home-slider-multiple-7 figure {
  animation-delay: .2s;
}

.home-slider-multiple-8 figure {
  animation-delay: .2s;
}

.home-slider-multiple-9 figure {
  animation-delay: .2s;
}


.home-slider figure img, .home-slider-multiple figure img {
  width: 20%;
  float: left;
  object-fit: contain;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* .image-change{
  animation: changeBackground 5s infinite;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in;
} */

@keyframes changeBackground{
   0%,100%  {background-image: url("../images/image\ 6.png");}
   25% {background-image: url("../images/image\ 7.png");}
   50% {background-image: url("../images/image\ 8.png");}
   75% {background-image: url("../images/image\ 9.png");}
}

.containerFluidMain {
  margin-bottom: 85px;
}

.trendNftMain {
  display: flex;
  flex-direction: column;
  padding: 56px 67px 30px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  
  .trendTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;

    .trendTitleMain {
      font-family: GibsonSemiBold!important;
      font-size: 18px;
      line-height: 18px;
      color: #000000;
    }
    .trendViewMore {
      font-family: GibsonSemiBold!important;
      font-size: 18px;
      line-height: 18px;
      color: #B2B2B2;
      cursor: pointer;
    }
  }
  .cardMain {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .cardWrapper {
      position: relative;
      height: 320px;
      width: 240px;
      border-radius: 5%;
      border: 0;
      margin: 0 15px 20px 0 !important;


      .card-background-image {
        height: 210px;
        border-radius: 5%;
        object-fit: cover;
      }

      .cardImgOverlay {
        height: 210px;
        width: 240px;
        display: flex;
        justify-content: space-between;

        .userImg {
          height: 37px;
          width: 45px;
          display: block;
          margin-left: 15px;
          padding-top: 13px;
          padding-bottom: 40px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.068) 0%, rgba(0, 0, 0, 0.075) 100%);
          opacity: 0.95;
          backdrop-filter: blur(60px);
          border-radius: 0 0 10px 10px;
        }

        .card-user-heart {
          margin-top: 17px;
          margin-right: 1px;
          height: 32px;
          width: 30px;
          display: block;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.068) 0%, rgba(0, 0, 0, 0.075) 100%);
          opacity: 0.95;
          backdrop-filter: blur(60px);
          border-radius: 0 0 10px 10px;
          transform: rotate(90deg);

          img {
            transform: rotate(-90deg);
          }
        }

        .card-user-title {
          font-weight: bold;
          font-size: 16px;
          line-height: 21px;
          color: #FFFFFF;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.068) 0%, rgba(0, 0, 0, 0.075) 100%);
          backdrop-filter: blur(60px);
          border-radius: 5px 5px 0 0;
          position: absolute;
          bottom: 0;
          width: 240px;
          margin-bottom: 0;
          text-align: center;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .card-body {
        padding: 5px 17px;

        .card-user-body {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          font-style: italic;
          font-weight: 600;
          font-size: 13px;
          line-height: 18px;

          .card-created-by {
            color: #888888;
            font-family: 'Nunito', sans-serif;
            margin-right: 6px;
          }

          .card-subtitle-name {
            font-family: 'Nunito', sans-serif;
            color: #5540c7;
          }
        }

        .card-text-info {
          display: flex;
          justify-content: space-between;
          margin-top: 18px;

          .card-text-info-price {
            margin-left: 9px;
            font-size: 16px;
            line-height: 16px;
            color: #5540C7;
            margin-bottom: 0;

            .card-text-info-usd {
              margin-left: -3px;
              font-size: 9px;
              line-height: 9px;
              color: #5540C7;
              margin-bottom: 0;
            }
          }

          .card-buy-button {
            outline: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 7px 10px;
            background: #5540C7;
            border-radius: 10px;
            border: 0;
          }
        }

        .card-buy-time {
          font-size: 12px;
          color: #888888;
          margin-top: 20px;
          line-height: 12px;

          .card-buy-time-text {
            display: flex;
            justify-content: center;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  .trendNftMain {
    .trendTitle {
      padding-left: 14px;
      padding-right: 31px;
    }
  }
}

@media screen and (max-width: 1440px) {
  #header {
    width: 466px;
    font-size: 55px!important;
    line-height: 55px;
  }

  #header2 {
    font-size: 55px!important;
    line-height: 55px;
  }

  .text1 {
    font-size: 24px;
  }
  .text2{
    font-size: 24px;
  }

  .textFeaturedNft {
    font-size: 24px!important;
    line-height: 24px;
    max-width: 400px;
  }

  .start-btn {
    font-size: 18px;
    font-style: normal;
    padding: 4px 34px;
  }

  .trendNftMain {
    .trendTitle {
      padding-left: 0;
      padding-right: 16px;
    }
  }
}

@media screen and (max-width: 1280px) {
  #header {
    width: 390px;
    font-size: 46px!important;
    line-height: 46px;
  }

  #header2 {
    font-size: 46px!important;
    line-height: 46px;
  }

  .text1 {
    font-size: 20px;
  }
  .text2{
    font-size: 20px;
  }

  .textFeaturedNft {
    font-size: 20px!important;
    line-height: 20px;
    max-width: 330px;
  }

  .start-btn {
    font-size: 16px;
    font-style: normal;
    padding: 4px 30px;
  }
}

@media screen and (max-width: 500px) {
  .upperView {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .sectionText1 {
    padding: 0;
    margin: 0;
  }

  #header {
    font-family: GibsonSemiBold!important;
    line-height: 18px;
    font-size: 16px!important;
    text-indent: 3px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 0;
  }

  #header2 {
    line-height: 18px;
    font-size: 18px!important;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  .text1 {
    text-align: center;
    font-family: GibsonSemiBold!important;
    font-size: 14px;
    line-height: 14px;
    text-indent: 3px;
    margin-top: 27px;
    margin-bottom: 0;
  }

  .text2 {
    text-align: center;
    font-family: GibsonSemiBold!important;
    font-size: 14px;
    line-height: 14px;
    text-indent: 3px;
    margin-bottom: 0;
  }

  #start-btn {
    margin-top: 0;
  }

  .start-btn {
    margin: 0 auto;
  }

  .col1 {
    margin-right: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }

  .middleView {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .sectionText2 {
    position: inherit;
    right: 0;
  }

  .textFeature {
    padding: 0 30px;
    text-align: center;
    font-family: GibsonSemiBold!important;
    font-size: 14px;
    line-height: 14px;
    text-indent: 3px;
    color: #888888;
  }

  .col2 {
    margin: 28px 0;
  }

  .col-2 {
    max-width: 33.3%;
    max-height: 63px;
  }

  .start-btn {
    padding: 0.375rem 1.5rem;
    border-radius: 10px;
    font-family: GibsonSemiBold!important;
    font-size: 15px;
  }

  .image10 {
    height: 5rem;
    border-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
  }
  .home-slider-multiple {
    width: 4rem;
    border-radius: 10px;
  }

  .trendNftMain {
    padding: 34px 50px 0;
    .trendTitle {
      justify-content: center;
      font-family: GibsonSemiBold!important;
      font-size: 18px;
      line-height: 18px;
      color: #000;
      margin-bottom: 25px;
    }
    .trendTitleMain {
      justify-content: center;
      font-family: GibsonSemiBold!important;
      font-size: 18px;
      line-height: 18px;
      color: #000;
    }
    .trendViewMore {
      font-family: GibsonSemiBold!important;
      font-size: 18px;
      line-height: 18px;
      color: #5540C7;
      cursor: pointer;
      margin-top: 20px;
    }
    .cardMain {
      .carousel.carousel-slider {
        height: 375px;
      }
      .carousel .control-dots .dot {
        background-color: #C4C4C4;
      }
    }
  }
}