.hidden {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-title {
  font-family: Gibson;
  font-size: 20px;
  font-weight: bold;
}
.pl-5 {
  padding-left: 2rem !important;
  padding-bottom: 0.2rem !important;
}
.artCard {
  height: 40%;
  width: 100%;
  border-top: none !important;
}
.modal-content {
  /* width: 80%; */
  /* height: auto; */
}
.modal-header {
  border: hidden !important;
}

.abtn {
  position: relative;
  opacity: 1;
  margin: 0 10px;
  border-radius: 2em;
  font-family: canada-type-gibson, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  padding: 0.375rem 1.5rem;
  border: 2px solid #5540c7;
  background-color: white;
  color: black;
  text-transform: uppercase;
}
.abtn:hover {
  background-color:#3454dc;
  border-color: white;
  cursor: pointer;
  color: white;
}

.abtn:focus {
  outline: 0px;
  border: 0;
}



.abtn1 {
  position: relative;
  opacity: 1;
  margin: 0 10px;
  border-radius: 2em;
  font-family: canada-type-gibson, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  padding: 0.375rem 1.5rem;
  border: 2px solid #5540c7;
  background-color: white;
  color: black;
  text-transform: uppercase;
}
.abtn1:hover {
  background-color: #267627;
  border-color: white;
  cursor: pointer;
  color: white;
}

.abtn1:focus {
  outline: 0px;
  border: 0;
}
.artContainer {
  padding: 5px;
  margin-left: 5%;
}

.ctext1 {
  display: flex;
  justify-content: center;
}

.displayCard {
  height: 130% !important;
  width: 100%;
}
.displayImage {
  position: relative;
  padding: 0% 5%;
}

.card {
  height: fit-content;

  box-shadow: 1px 5px 5px #888888;
  display: flex;
  flex-flow: column;
}

.row {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 1.5rem;
}

.a {
  text-decoration: none;
}
h3 {
  font-family: Gibson;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  margin: 2% 0% 2% 2%;
}
.form-control {
  display: flex;
  border-radius: 1rem;
  margin-left: 0.5rem;
}
.form-group {
  display: flex;
}

.card-artcard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 28rem;
  width: 17rem;
}

.card-art-div {
  padding: 0;
}

.card-img-overlay {
  padding: 0rem;
  right: auto;
}

.badge-pill {
  border-radius: 0rem 0rem 1rem 0rem;
  padding: 0rem 1.5rem 0rem 0rem;
}

.upload-more-btn {
  border-radius: 2em;
  font-family: 'gibson', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  border: 2px solid #5540c7;
  text-transform: uppercase;
  background-color: #5540c7;
  color: white;
  align-self: center;
  width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.badge {
  font-size: 17px;
}

.class1 {
  background-color: #3454dc;
  color: white;
}
.class2 {
  background-color: #267627;
  color: white;
}
.class3 {
  background-color: #f08778;
  color: white;
}
.uploadpopup{
  max-width: 38rem !important;
  height: auto;
}
.uploadlabel{
  width: 50%;
  margin-left: 1rem;
}
.uploadinput{
  margin-left: 1rem;
}