* {
    font-family: Gibson;
}

.my-collection-container {
    /* border: 1px solid black; */
    height: 100vh;
}

.my-collection-header {
    /* border: 1px solid black; */
    height: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Gibson;
    font-weight: 400px;
    padding-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.my-collection-header h1 {
    font-size: 64px;
}

.my-collection-header p {
    font-size: 28px;
    color: #5540C7;
}

.my-collection-row {
    /* border: 1px solid black; */
    margin-left: 2%;
    display: flex;
}

.my-collection-filter-container {
    /* border: 1px solid black; */
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.my-collection-filter-container p, 
.my-collection-filter-container a {
    font-family: Gibson;
}
  
.my-collection-filter-container p:not(:first-child) {
    margin-top: -10px;
}
  
.dropdown-button {
    border: none;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 14.531rem;
    font-size: 18px;
}
  
.add-button {
    font-size: 18px;
    color: #5540C7;
    background-color: #FFFFFF;
    border: none;
    position: relative;
    top: -5px;
    right: 5px;
}

.my-collection-art-container {
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    /* margin-left: 2%; */
}
  
.my-collection-art-img-box {
    height: 268px;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.my-collection-art-img-box img {
    width: 207px;
    height: 217px;
}

.my-collection-modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation:modalSlide 0.3s ease-in-out;
}

.my-collection-modal-art-img-container {
    background-color: white;
    height: 375px;
    width: 700px;
}

.my-collection-modal-art-img {
    height: 100%;
    width: 100%;
}

.my-collection-modal-art-description-container {
    background-color: #FFFFFF;
    height: 250px;
    width: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.my-collection-modal-art-description-container h3 {
    /* font-family: Gibson; */
    font-size: 25px;
    font-weight: 700;
}

.my-collection-modal-art-description-line1, 
.my-collection-modal-art-description-line2 {
    display: flex;
}

.my-collection-modal-art-description-line1 {
    width: 100%;
    justify-content: center;
}

.my-collection-modal-art-description-line1 h3{
    position: relative; 
    top: 8px;
}

.my-collection-modal-created {
    font-size: 16px;
    font-weight: 600;
}

.my-collection-modal-user {
    font-size: 16px;
    font-weight: 700;
    color:#5540C7;
    position: relative;
    bottom: 2px;
    left: 2px;
    margin-bottom: 10px;
}

.my-collection-modal-art-description-line3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.23px;
    width: 85%;
}

.my-collection-modal-art-description-line4 {
    display: flex;
    position: relative;
    right: 148px;
}

.my-collection-modal-art-price {
    position: relative;
    left: 35px;
}

.my-collection-modal-art-description-line5 {
    display: flex;
    position: relative;
    right: 20px;
    width: 75%;
}

.my-collection-modal-art-owner-count {
    position: relative;
    left: 78px;
}

.my-collection-modal-art-trading-history {
    color: #5540C7;
    position: relative;
    left: 95px;
}

.my-collection-sell-btn {
    border: none;
    border-radius: 10px;
    background-color: #5A45C7;
    color: white;
    font-size: 24px;
    width: 125px;
    position: relative;
    bottom: 63px;
    left: 180px;
}

.my-collection-modal-close-btn {
    position: relative;
    top: 8px;
    left: 90px;
    font-size: 18px;
    border: none;
    background-color: #FFFFFF;
}

.my-collection-gallery-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.my-collection-gallery-modal-heading {
    color: white;
    font-size: 64px;
    font-weight: 250;
    margin-top: 125px;
}

.my-collection-gallery-modal-span {
    /* border: 1px solid white; */
    display: flex;
    margin-top: 10px;
    /* width: 23%; */
}

.my-collection-gallery-input {
    margin-right: 5px;
    width: 350px;
    background: #F6F6F6;
    border-radius: 10px;
    border: none;
}

.my-collection-gallery-done-btn {
    margin-right: 5px;
    background: #5540C6;
    color: #FFFFFF;
    border-radius: 10px;
    width: 75px;
    border: none;
}

.my-collection-gallery-cancel-btn {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: black;
    box-sizing: border-box;
    border-radius: 10px;
    width: 75px;
    /* border: none; */
}

.my-collection-gallery-modal-art-container {
    /* border: 1px solid black; */
    width: 85%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.my-collection-gallery-modal-art-img-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 268px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-collection-gallery-modal-art-img-container img {
    height: 250px;
    width: 250px;
}