.mycollection-second-row {
  margin-top: 50px;
  display: flex;
}

.mycollection-menu-container {
  margin-left: 7%;
}

.sort-container {
  /* border: 1px solid black; */
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sort-container p,
.sort-container a {
  font-family: Gibson;
}

.sort-container p:not(:first-child) {
  margin-top: -10px;
}

.dropdown-button {
  border: none;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 14.531rem;
  font-size: 18px;
}

option {
  background-color: white;
}

.add-button {
  font-size: "18px";
  color: "#5540C7";
  text-decoration: none;
}

.add-button:hover,
.add-button:active {
  text-decoration: none;
}
