.mycollection-second-row {
  margin-top: 50px;
  display: flex;
}

.mycollection-menu-container {
  margin-left: 2%;
}

.sort-container {
  /* border: 1px solid black; */
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sort-container p,
.sort-container a {
  font-family: Gibson;
}

.sort-container p:not(:first-child) {
  margin-top: -10px;
}

.test-line {
  margin-top: -20px;
  height: 2px;
  background-color: black;
  width: 195px;
}
