.first-row-container {
    /* border: 1px solid red; */
    margin-top: 50px;
    padding-left: 15px;
}

.second-row-container {
    /* border: 1px solid green; */
    margin-top: 35px;
}

.second-row-col-1 {
    /* border: 1px solid blue; */
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.second-row-col-2 {
    /* border: 3px solid orange; */
}
