/* Variables */
:root {
  --primary-color: #5540C7
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 0px 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left !important;
  /* align-content: left; */
  color: #5540C6;
  /* background-color: #fff;
  padding: 60px 0; */
  border-top: none;
}
.navi{
  position: fixed;
  left: 0;
  width: 100%;
  z-index : 100;

}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #000000;
}

.sign-in-btn  {
  background: var(--primary-color);
}

.nav-link{

font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;

color: #000000;
}


.nav-link.active{
  color: var(--primary-color) !important;
}
